{% extends '_layouts/base.html' %}
{% load static %}
{% block head %}
    <div class="mh-part-one i-bs">
        <img src="{% static 'images/logo.png' %}" class="logo">
        <h1 class="logotext i-bs unset-m">Сайт "Читай-город"</h1>
    </div>
{% endblock head %}
{% block sidebar %}
    <li class="myli lst-none"><a href="/ch-g.ru/" class="mya">Главная</a></li>
{% endblock sidebar %}
{% block content %}
    <header class="mainheader">{{ header_text }}</header>
    <form action="{{ act_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{{ button_text }}">
    </form>
{% endblock content %}